body { background: #fadf6d; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 16px; display: flex; }
.block-shipping-0 { color: #6025a7; font-size: 20px; margin-bottom: 5px; }
.block-user-1 { color: #634319; font-size: 17px; margin-bottom: 5px; }
.block-logger-2 { color: #1fbc07; font-size: 14px; margin-bottom: 5px; }
.block-filter-3 { color: #a0b62f; font-size: 21px; margin-bottom: 5px; }
.block-auth-4 { color: #2e6e0d; font-size: 18px; margin-bottom: 5px; }